<div class="xg-header__container">
    <div class="xg-header__col xg-header__col--lg">
        <h2 style="color: #fff;">New England Indoor Golf</h2>
    </div>
    <div class="xg-header__col xg-header__col--xsm">
        <a href="https://www.facebook.com/NEIGOLF">
            <img src="/assets/facebook.png" alt="Facebook icon" class="xg-header__social-icon">
        </a>
    </div>
    <div class="xg-header__col xg-header__col--sm">
        <h4 class="xg-h4 xg--white">Bookings:&nbsp;&nbsp;&nbsp;<a href="https://x-golf.genbook.com/">Schedule Online!</a></h4>
    </div>
</div>
