<div class="ng-main__container ng-main__container--secondary xg-section">
<div class="xg-heading">
     
  <h1 class="xg-h1">XBall</h1>
</div>
<div class="xg-main-content">
        <h2 class="xg-h2">What is XBall?</h2>
        <p class="xg-text">No more chasing golf balls and rubber tees. The XBall system funnels golf balls into an automatic feeding system and then automatically tees the ball and remembers the exact tee height set by each golfer.</p>
        <p class="xg-text">This unique feature is not a gimmick. It speeds play so you can finish a round in the designated time.</p>
        <p class="xg-text">Press a button with your club head and a ball is delivered to the platform where it settles into recess above a re-tracked tee. A sensor detects the ball and the tee extends. Press another button with your club head to adjust the tee height. The computer remembers your setting and adjusts the tee height when its your turn to play.</p>
        <iframe  width="560" height="315" src="http://www.youtube.com/embed/v0Q_sOcfNXM" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>