<div class="ng-main__container ng-main__container--secondary xg-section">
<div class="xg-heading">
    New England Indoor Golf
  <h1 class="xg-h1">Video Analysis</h1>
</div>
<div class="xg-main-content">
        <h2 class="xg-h2">How Video Analysis Works</h2>
        <p class="xg-text">Use XGolf’s motion capture cameras to record a video of your swing. Record down-the-target-line and face-on at the same time, then play both views side-by-side on the big screen. Our analysis software shows slow motion as well as step motion.</p>
        <img src="/assets/lesson-img.gif">
</div>
</div>