<div class="ng-main__container ng-main__container--secondary xg-section">
<div class="xg-heading">
     
  <h1 class="xg-h1">Lessons</h1>
</div>
<div class="xg-main-content">
        <h2 class="xg-h2">Lessons from our top instructors</h2>
	<h4 class="xg-h4">Jim Fenner</h4>
	<p class="xg-text">Schedule a lesson with Jim, one of the area's top instructors. Call <a href="tel:774-242-6910">774-242-6910</a> for more information. Jim will schedule your lesson and book the simulator time.</p>
        <!-- Start Square Appointments Embed code --><!-- <script src="https://squareup.com/appointments/buyer/widget/0e3f06a7-603b-41fc-9b89-77aa52b85b98.js" ></script> --><!-- End Square Appointments Embed code -->
</div>
</div>