<div class="ng-main__container">
    <div class="ng-main__left">
        <h2 class="xg-h2 xg--white">We are open for the 2020-2021 season! Please read our safety protocols <a href="">here</a>.</h2>
                <h3 class="xg-h3 xg--white"><a href="https://bookeo.com/neindoorgolf">Schedule Online!</a>
        <br>
        <a href="https://squareup.com/gift/4DD46781T4533/order" target="_blank">Buy gift cards</a></h3>
    </div>
        <div class="ng-main__right">
            <img src="/assets/coursesmain-comp.gif" class="xg-feature-img" alt="XGolf virtual course">
    </div>
</div>
