<div class="ng-main__container ng-main__container--secondary xg-section">
<div class="xg-heading">
     
  <h1 class="xg-h1">Gift Cards</h1>
</div>
<div class="xg-main-content">
        <h2 class="xg-h2">The Perfect Gift For Any Golfer</h2>
        <p class="xg-text">Gift cards now available! Payments can be made with cash or credit card.</p>
        <p class="xg-text"><img class="credit-cards" src="/assets/credit-cards.jpg"></p>
        <p class="xg-text"><a target="_blank" href="https://www-1566e.bookeo.com/bookeo/b_neindoorgolf_start.html?ctlsrc2=r0DnLFN%2FsDNwHCpJe%2BKwZUwzIvGBVXC9DNgltyZTS1c%3D&src=03r">Book online</a> or call <a href="tel:5084078370">508.407.8370</a> for more information.</p>
        <!-- Start Square Appointments Embed code --><!-- <script src="https://squareup.com/appointments/buyer/widget/0e3f06a7-603b-41fc-9b89-77aa52b85b98.js" ></script> --><!-- End Square Appointments Embed code -->
</div>
</div>