<div class="ng-main__container ng-main__container--secondary xg-section">
<div class="xg-heading">
    New England Indoor Golf
  <h1 class="xg-h1">XPlate</h1>
</div>
<div class="xg-main-content">
        <h2 class="xg-h2">What is XPlate?</h2>
        <p class="xg-text">XPlate is a revolutionary invention in golf course lie simulation. On a real course, you don’t
always have a perfectly flat lie. To give you a realistic golf experience on XGolf simulators the XPlate will automatically change to emulate the course terrain. </p>
        <p class="xg-text">XPlate can replicate a 35 degree slope in any direction and supports up to 1320 pounds. It operates in automatic or manual mode allowing you play or practice shots from multiple lie positions. The XPlate is currently installed for right-handed golfers only.</p>
        <p class="xg-text">If you prefer flat lies simply turn off the XPlate feature.</p>
        <iframe  width="560" height="315" src="http://www.youtube.com/embed/4Yb-mx9P1lQ" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>