<div class="ng-main__container ng-main__container--secondary xg-section">
<div class="xg-heading">
    <img class="xg-heading-img" src="/assets/xgolf-logo-motif.png">
  <h1 class="xg-h1">Connect With Us</h1>
</div>
<div class="xg-main-content">
        <h2 class="xg-h2">Get in Touch</h2>
    <p class="xg-text">We are here to answer any questions you have.</p>
    <p class="xg-text">Feel free to reach out by phone, email, social media, or stop by for a <a href="/contact/directions">visit</a>!</p>
    <img style="width: 300px;" src="/assets/xgolf-logo-black.png">
    <h4 class="xg-h4">Come & Visit:</h4>
    <p class="xg-text">X Golf New England</p>
    <p class="xg-text">440 Washington Street</p>
    <p class="xg-text">Auburn, MA 01501</p>
    <h4 class="xg-h4"><a href="https://www.facebook.com/xgolfnewengland">Facebook</a></h4>
    <h4 class="xg-h4"><strong>Email:</strong>&nbsp;&nbsp;  <a href="mailto:xgolf@xgolfnewengland.com">xgolf@xgolfnewengland.com</a></h4>
    <h4 class="xg-h4"><strong>Phone:</strong>&nbsp;&nbsp;  <a href="tel:5084078370">508.407.8370</a></h4>
        <!-- Start Square Appointments Embed code --><!-- <script src="https://squareup.com/appointments/buyer/widget/0e3f06a7-603b-41fc-9b89-77aa52b85b98.js" ></script> --><!-- End Square Appointments Embed code -->
</div>
</div>