<div class="ng-main__container ng-main__container--secondary xg-section">
<div class="xg-heading">
    New England Indoor Golf
  <h1 class="xg-h1">Simulator Rates</h1>
</div>
<div class="xg-main-content">
        <h2 class="xg-h2">Rates</h2>
	<h4 class="xg-h4">Early Bird Special</h4>
	<p class="xg-text">Weekdays until 4pm | $36/hr</p>
	<h4 class="xg-h4">Regular</h4>
	<p class="xg-text">All other times | $50/hr</p>
        <h2 class="xg-h2">Payment</h2>
        <p class="xg-text">We accept cash and credit card.</p>
        <p class="xg-text"><img class="credit-cards" src="/assets/credit-cards.jpg"></p>
        <p class="xg-text"><strong> Please note: To play a round of 18 holes it takes an average of 1 hour per person. Please come 10-15 minutes before tee time to pick your course and get set up.</strong></p> 
        <h2 class="xg-h2">Reservation Changes or Cancellations:</h2>
        <ul class="cancelation-list">
          <li>Credit card required to reserve all tee times.</li> 
          <li>Cash or gift certificate payment may be used at check-in.</li>
          <li>No fees charged for cancelling or rescheduling reservations up to 24 hours before the tee time.</li>
	  <li>Booking multiple simulators are subject to our 24-hour cancelation policy.</li>
          <li>Reservation changes made within 24 hours of a tee time will incur a fee equal to 75% of the simulator rental rate charged to your credit card. If the original reservation can be re-booked, no fee will be charged to your credit card. </li>
          <li>A no-show will incur the full simulator rental rate charged to your credit card.</li>          
        </ul>
        <!-- Start Square Appointments Embed code --><!-- <script src="https://squareup.com/appointments/buyer/widget/0e3f06a7-603b-41fc-9b89-77aa52b85b98.js" ></script> --><!-- End Square Appointments Embed code -->
</div>
</div>