<div class="ng-main__container">
    <div class="ng-main__left">
        <h2 class="xg-h2 xg--white">We are open for the 2021-2022 season!</h2>
                <h3 class="xg-h3 xg--white"><!-- <a href="https://x-golf.genbook.com/">Schedule Online!</a> -->
        
        <a href="https://squareup.com/gift/4DD46781T4533/order" target="_blank">Buy gift cards</a></h3>
    </div>
        <div class="ng-main__right">
            <img src="/assets/coursesmain-comp.gif" class="xg-feature-img" alt="XGolf virtual course">
    </div>
    <div class="ng-main__bottom">
            <div class="ng-main__bottom-col">
            <h3 class="xg-h4">Early Bird  Special</h3>
  
                <p class="xg-text">Monday - Friday<br>$40/hour 9:00am - 4:00pm</p>
            </div><!--/span-->
            <div class="ng-main__bottom-col">
            <h3 class="xg-h4">Golf &amp; Entertainment</h3>
            <p class="xg-text">Beer &amp; Wine Available</p>
            <p class="xg-text">Projectors &amp; 65" flat screens</p>
<!--               <div class="teaser-caption">
                <p>Eat &amp; Drink.</p>
              </div> -->
            </div><!--/span-->
            <div class="ng-main__bottom-col">
            <h3 class="xg-h4">Late Bird Special</h3>
            <p class="xg-text">Now Available</p>
            <p class="xg-text"> <a href="/contact/connect">Call for Details</a></p>               
                <!-- <p>View Rates</p> -->
              </div>
              </div>
</div>
